
	<% this_array = random_employees_array %>
	<% (0..@table_rows-1).each do |row| %>
	  <% (0..2).each do |cell| %>
		<% employee = this_array[row*3+cell] %>
		<% if employee and employee != "empty" %>
		  <% link_to(employee) do %>
            <div class = "index_box">
			  <div class= 'index_name'><p><%= employee.name %></p></div>
			  <div class = "index_pic"><%= image_tag employee.smallPic.url(:small), :size => "180x180" %></div>
            </div>
          
  		  <% end %>
		
		<% else %>
	  	  <div class = "index_box">
			<div class = "index_pic"><%= image_tag "spacer.gif", :size => "180x180" %></div>
          </div>
		<% end %>
	  <% end %>	
	  <div class = "index_row"></div>
	<% end %>
</table>
