.admin {
	margin:0 auto;
	width:600px;
	text-align: left;
	left-margin: auto; right-margin: auto; 
	clear: both;
	background: #eee;
	font-family: Verdana, Helvetica, Tahoma, sans-serif;
	font-size: 14px;
}

.admin h1 {
	font-weight: bold;
	padding-top: 18px;
	font-size: 18px;
	text-align:left;
}
.admin h3 {
	font-weight: bold;
	padding-top: 14px;
}
.admin p, a {
	width: 400px; 
	padding-top: 10px; 
	font-size: 14px;
}

.admin a {color: #2343a3;}

.admin .para_with_headroom {
	margin-top: 30px;
}



.index_box{
	width:180px;
	height:180px;
    float:left;
	padding:0 8px 8px 0;
	
}
.index_pic{
	width: 180px;
	height:180px;
}
.index_name{
	width: 180px;
	height:180px;
	display: none;
	background:orange;
	cursor:pointer;
}
.index_name p{
	width:180px;
	font-family: 'Cabin Sketch', arial, serif;
	font-size: 2em;
	text-align: center;
	padding-top: 40px;
}

.index_row {
	clear:both;
}


/*show*/

.show_employee {
	padding-left: 10px;
}
.show_employee h3{
	font-family: 'Cabin Sketch', arial, serif;
	font-size: 2em;	
}

.show_employee p {
	font-size: 14px;
	line-height: 16px;
	margin-top: 10px;
}

.show_employee_pic {
	margin-top: 20px;
}

.bold {
	font-weight: bold;
}
.ital {
	font-style:italic;
}

#employee_quote {
	font-size: 18px ;
	font-style: italic; 
}

.field {
	font-family: Courier, arial, serif;
	text-align:left;
	padding: 10px 0 0 10px;
	
}



