<div id = "home2">
  <div id = "container">
  	<div id = "headline">
	  <h1>strategy + innovation</h1>
  	</div>
	<div id = "lead" class = "domain">
	  <h2>lead</h2>
	</div>
	<div id = "strat" class = "domain">
	  <h2>strategize</h2>
	</div>
	<div id = "innov" class = "domain">
	  <h2>innovate</h2>
	</div>
	<div id = "engage" class = "domain">
	  <h2>engage</h2>
	</div>
	<div id = "clarify" class = "domain">
	  <h2>clarify</h2>
	</div>
	<div id = "learn" class = "domain">
	  <h2>learn</h2>
	</div>
	
	
	<div class = "dom_text" id = "lead_text">
		Leaders face uncertainty and the unknown. They take on the responsibility of equipping individuals and organisations with the will to make things 
		different and to realize potential. Designing genuinely better futures requires depth - the mindset and skill to lead with wisdom:

		    understanding how language shapes reality
		    revitalising and sustaining core conversations
		    framing compelling arguments for change
		    inspiring confidence and courage to co-design.

		We have used the power of language, conversation and presence to help leaders:

		    Lead from their own strengths
		    Draw our the brilliance in their teams
		    Frame compelling arguments
		    Face complexity and chaos
		    Engage their people in co-design.

		
	</div>
	
	<div class = "dom_text" id = "strat_text">
		A successful strategy is a robust blend of imagination and coherent intent, a dynamic fit of meaning and context. We work with clients to ignite their inherent creativity and  
		to design their future success by:

		    revitalising and harnessing imagination
		    redefining the industry landscape
		    recalibrating enterprise systems
		    re-energizing revenue models
		    reinvigorating legacy products and services.

		We have used the power of story, conversation and design to help leaders:

		    Rethink their industries and build new pathways into the future
		    Change deeply bureaucratic systems to become more relevant to customers
		    Create compelling value propositions that translate into competitive advantage.

		
	</div>
	<div class = "dom_text" id = "innov_text">
		Brilliant ideas that deliver a competitive edge come from a mindset and process of design. Second Road works with clients to:

		    create exceptional experiences for customers and employees
		    discover new, unmet customer needs
		    embed a creative disposition into the firm’s culture.

		We have used the power of imagination, design and innovation to help leaders:

		    Build a culture of creativity
		    Bring the user experience to life
		    Capture and create new customer value.


		
	</div>


  </div>	
</div>