<div id = "container">	
  <div id = "col1wrap">
    <div id = "col1">	
    </div>
	<div class = "menuItem" id = "col1a"></div>
	<div class = "menuItem" id = "col1b"></div>
	<div class = "menuItem" id = "col1c"></div>
	<div class = "menuItem" id = "col1d"></div>
  </div>
  
  <div id = "col2">
  	<h2>What we do</h2>
    <p>2R is a strategy and innovation firm — with a big difference.</p>
    <p>Everything we do is about unlocking and empowering imagination and intelligence within organizations.</p>
    <p>We are unashamedly working to enable organizations not only to be smarter — but more human. We work with clients, not for them.</p>
		

	
    
  </div>
<div id = "col3">
  	<h2>What we do</h2>
  </div>
  <div id = "col4">
	<ul>
		<li id = "menuWhatWeDo" class = "menuItem">What we do</li>
		<li class = "menuItem">Who we are</li>
		<li class = "menuItem">What's new</li>
		<li class = "menuItem">Contact us</li>
	</ul>

  </div>
  <div id = "col5">
  	<h2>What we do</h2>
  </div>
</div>
